.paraCemento {
    font-size: 1.3rem;
}

.imgCemento_3 {
    display: flex;
    gap: .5rem;
    margin: 2rem 0 4rem 0;
    max-width: 33%;
}

.wrapper_right {
    width: 100%;
}

.videoResponsive {
  overflow:hidden;
  padding-bottom:630px;
  position:relative;
  height:0;
  margin-bottom: 4rem;
}

iframe { width: 1120px;
  height: 630px;

}
.videoResponsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media screen and (max-width: 780px) {

    /*========== Nosotros ==========*/

  .contenedorFlexColumn {
    display: flex;
    flex-direction: column;
  }

  iframe { width: 300px;
    height: 150px;
  
  }

  .videoResponsive {
    padding-bottom: 150px;
  }
}