@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
.nuestros_servicios {
  padding-bottom: 5rem;
}

.gridServicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.cardsText_cardServicios {
  -webkit-box-shadow: 0px 4px 20px 4px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 4px 20px 4px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 2rem;
}

.gridCenter {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.textCardServicios {
  color: #FFF;
  font-size: 1.7rem;
}

.iconServicios {
  color: var(--yellow-color);
  margin-bottom: 3rem;
}

.gridServiciosCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 570px) {
  .grid_servicios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: .5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .serviciosCard_title {
    font-size: 2.5rem;
  }
  .serviciosCard_info {
    font-size: .9rem;
  }
}

.proyectos {
  padding-bottom: 5rem;
  max-width: 1300px;
}

.grid_proyectos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: .5rem;
}

.card_proyectos {
  -webkit-box-shadow: 0px 4px 20px 4px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 4px 20px 4px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.propiedadesCard_img img {
  border-radius: 8px;
}

.proyectosCard_button {
  color: #FFF;
  margin: 0 auto;
  display: block;
  padding: .5rem 1rem;
  background-color: var(--green-color);
  border-radius: 66px;
  font-weight: 900;
  font-size: 1.2rem;
}

@media screen and (max-width: 570px) {
  .grid_proyectos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacto {
  margin-top: 4rem;
}

.contactoBox {
  padding: 0 3rem;
  background-color: #0F0F0F;
  border-radius: 8px;
  margin-bottom: 6rem;
}

.contactoBoxInside {
  padding: 1.5rem;
}

.formCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper_left_text {
  max-width: 40ch;
}

.wrapper_right_title {
  color: #fff;
  font-size: var(--mediumSize);
  margin-bottom: 0.5rem;
  padding: 1rem 2rem 0 2rem;
}

.contactoForm {
  width: 100%;
}

.flex_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.contactoInput input,
.contactoInput textarea {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
  margin-bottom: 1rem;
  color: white;
}

.contactoInput ::-webkit-input-placeholder {
  color: white;
}

.contactoInput :-ms-input-placeholder {
  color: white;
}

.contactoInput ::-ms-input-placeholder {
  color: white;
}

.contactoInput ::placeholder {
  color: white;
}

.contactoInput input[type="checkbox"]:checked {
  border: 1px solid var(--green-color);
}

.contactoInput input:checked {
  border: 1px solid var(--green-color);
}

.contactoInput input:focus {
  outline: none;
  border: none;
}

.contact_list_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_list_row i {
  color: var(--green-color);
  margin-right: 0.5rem;
}

.contact_list_row_contacto p {
  margin: 2rem 0;
}

.contactButton {
  display: inline-block;
  background-color: var(--green-color);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 3rem;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  margin: auto;
}

.paraCemento {
  font-size: 1.3rem;
}

.imgCemento_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  margin: 2rem 0 4rem 0;
  max-width: 33%;
}

.wrapper_right {
  width: 100%;
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 630px;
  /* Adecua este valor para controlar la altura del video */
  position: relative;
  height: 0;
  margin-bottom: 4rem;
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 780px) {
  /*========== Nosotros ==========*/
  .contenedorFlexColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

:root {
  --bg-color: #0A0A0A;
  --text-color: #FFFFFF;
  --yellow-color: #FCD800;
  --green-color: #44A99C;
  --nav-color:#0F0F0F;
  --fontSize-700: 1.5rem;
  --fontSize-400: 1rem;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* font-family: 'Anton', sans-serif;
  font-family: 'Oswald', sans-serif; */
/*========== UTILITIES ==========*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.section {
  max-width: 1200px;
  width: calc(100% - 4rem);
  margin: auto;
}

.section_title {
  margin: 5rem 0;
  font-family: Anton;
  font-size: 3rem;
}

.gridCenter {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

/*========== Antes del NAV ==========*/
.antesDelNav {
  background-color: var(--bg-color);
  height: 100vh;
}

.imgAntesDelNav {
  padding: 5rem 2rem;
  max-height: 170px;
  max-width: 170px;
}

.antesDelNav h1 {
  font-size: 6.5rem;
  padding: 2rem;
  text-align: center;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/*========== NAV ==========*/
header {
  width: 100%;
  background-color: var(--nav-color);
}

.nav-link {
  font-size: var(--fontSize-700);
  color: var(--text-color) !important;
}

.navbar-brand {
  max-height: 80px;
  max-width: 80px;
}

.navbar {
  max-width: 1200px;
  width: calc(100% - 4rem);
  margin: 0 auto;
  background-color: var(--nav-color);
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/*========== Nosotros ==========*/
.paraNosotros {
  font-size: 1.1rem;
}

/*========== Elegirnos ==========*/
.cardsText_card {
  -webkit-box-shadow: 0px 4px 20px 4px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 4px 20px 4px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 3rem;
}

.cardsText_card h4 {
  color: var(--yellow-color);
  font-size: 2.3rem;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2rem;
}

/*========== Marcas ==========*/
.marcas {
  background-color: #FFFFFF1A;
  margin: 4rem 0;
}

.section_title_marcas {
  padding: 1rem 0 1rem 0;
  font-family: Anton;
  font-size: 3rem;
}

.flexMarcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.imgMarcas {
  max-width: 250px;
}

/*========== Footer ==========*/
.footer {
  width: 100%;
  margin: 3rem auto;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_list_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_list_row i {
  color: var(--green-color);
  margin-right: 0.5rem;
}

.footer_list_row_contacto p {
  margin-bottom: 0.5rem;
}

.footer_first {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #0F0F0F;
}

.section_newsleter {
  margin: auto;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: .8rem;
}

.text_para {
  font-weight: 500;
  font-size: 1.5rem;
}

.search {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search input {
  border: 2px solid var(--text-color);
  padding: 0.5rem 8rem 0.5rem 0.5rem;
  border-radius: 10px;
  display: block;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  width: 25rem;
}

.search .email {
  color: var(--green-color);
  background-color: var(--green-color);
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
  margin-left: -9px;
  cursor: pointer;
}

.search svg {
  background-color: var(--green-color);
}

.search_1 p {
  line-height: 0;
}

.footer_second .row {
  gap: 4rem;
  padding: 2rem;
}

.text_title {
  font-size: 1.5rem;
  color: var(--yellow-color);
  font-weight: bold;
}

.footer_item_text {
  max-width: 30ch;
}

.footer_item_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--yellow-color);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.footer_item_subTitle {
  color: var(--colorBlue);
  margin: 0.5rem 0;
}

.footer_links {
  margin-bottom: 0.5rem;
}

.footer_links a {
  color: var(--pColor);
}

@media screen and (max-width: 780px) {
  /*========== Antes del Nav ==========*/
  .antesDelNav h1 {
    font-size: 3.5rem;
  }
  /*========== Nosotros ==========*/
  .contenedorFlexColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*========== Marcas ==========*/
  /*========== Footer ==========*/
  .footer_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  .newsletter .text {
    text-align: center;
  }
  .paraEmail {
    margin-left: 20%;
  }
  .footer_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .footer_list_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search input {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 570px) {
  /*========== Antes del Nav ==========*/
  .antesDelNav h1 {
    font-size: 2.5rem;
  }
  /*========== Footer ==========*/
  .footer_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search input {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
  }
  .paraEmail {
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */